﻿@model ViewsHomeWork.Models.User
@{
    ViewBag.Title = "View4";
}

<h2>Ajax</h2>

@using (Ajax.BeginForm("GetView4", new AjaxOptions()
{
    UpdateTargetId = "result",
    LoadingElementId = "load",
    LoadingElementDuration = 1000
}))
{
    <p>Username</p>
    @Html.TextBoxFor(m => m.UserName)
    <p>Email</p>
    @Html.TextBoxFor(m => m.Email)
    <input type="submit" />
}
<div id="load" style="display: none; color:Red; font-weight:bold;">
    <p>Loading</p>
</div>

<div id="result"></div>