﻿@model NotebooksStore.Models.Purchase

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div>
        <h3>Форма оформления покупки</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.NotebookId" name="NotebookId" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="Person" /> </td>
                </tr>
                <tr>
                    <td><p>Введите адрес :</p></td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>*@

@*///////////////////////////////////////////////////////////////////////////////////////////////////*@


@using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        <input type="hidden" value="@ViewBag.BookId" name="BookId" />
        <p>Введите свое имя: </p>
        @Html.TextBox("Person", "Введите имя")
        <p>Введите адрес :</p>
        @Html.TextBox("Address", "Введите адрес")
        <p><input type="submit" value="Отправить" /></p>
    }



@*@Html.TextArea("text", "привет <br /> мир")*@

@*@Html.Password("UserPassword", "val")*@

@*@Html.RadioButton("color", "blue")
    <span>First</span> <br />
    @Html.RadioButton("color", "green", true)
    <span>Second</span>*@


@*@Html.CheckBox("Enable", false)*@

@*@Html.Label("Name")*@

@*@Html.DropDownList("countires", new SelectList(new string[] { "Russia", "USA", "Canada", "France" }), "Countries")*@

@*@Html.ListBox("countires", new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }))*@

@*<div>
    <h3>Форма оформления покупки</h3>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.NotebookId)
        @Html.LabelFor(m => m.Person, "Введите свое имя")
        <br />
        @Html.TextBoxFor(m => m.Person)
        <br /><br />
        @Html.LabelFor(m => m.Address, "Введите адрес")
        <br />
        @Html.TextBoxFor(m => m.Address)
        <p><input type="submit" value="Отправить" /></p>
    }
</div>*@



