﻿@model NotebooksStore.Models.Notebook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New notebook</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Notebook name")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Manufacturer, "Manufacturer")
    <br />
    @Html.EditorFor(model => model.Manufacturer)
    <br /><br />
    @Html.LabelFor(model => model.Price, "Price")
    <br />
    @Html.EditorFor(model => model.Price)
    <br /><br />
    <input type="submit" value="Add" />
}
