﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NotebooksStore.Models.Notebook
<h2>Delete notebook</h2>
<dl>
    <dt>Name</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>Manufacturer</dt>
    <dd>
        @Html.DisplayFor(model => model.Manufacturer)
    </dd>

    <dt>Price</dt>
    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
