﻿@{
    ViewBag.Title = "Edit notebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NotebooksStore.Models.Notebook
<h2>Notebook ID @Model.Id</h2>
@using (Html.BeginForm("EditNotebook", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Name, "Notebook name")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Manufacturer, "Manufacturer")
            <br />
            @Html.EditorFor(m => m.Manufacturer)

        </p>
        <p>
            @Html.LabelFor(m => m.Price, "Price")
            <br />
            @Html.EditorFor(m => m.Price)
        </p>
        <p><input type="submit" value="Send" /></p>
    </fieldset>
}
