﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

<div>

    @*@using (Ajax.BeginForm("NotebooksSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {*@
        @using (Ajax.BeginForm("NotebooksSearch", new AjaxOptions
            { UpdateTargetId = "results",
                LoadingElementId= "loading",
                LoadingElementDuration=1000}))

            {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }


    <div id="loading" style="display: none; color:Red; font-weight:bold;">
        <p>Идет загрузка...</p>
    </div>


    <div id="results"></div>
</div>

@*@section Scripts {
        @Scripts.Render("~/scripts/validate.min.js")
    }*@
    
    @*@{
        var str = "Hello people";
        str = str + " Everybody";
    }
    
    @Html.Partial("Partial")
    <h2>@str</h2>
    
    <table>
        <tr>
            <td><p>Модель ноутбука</p></td>
            <td><p>Производитель</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @NotebookList(Model);
    </table>
    @MyHelpers.HtmlList(new string[] { "Лондон", "Париж", "Берлин" })
    
    @using NotebooksStore.Helpers
    @Html.Image("/Img/20140906_194528.png", "МГУ")*@

</div>

@*@section Footer{ All rights reserved}*@
