﻿@model IEnumerable<NotebooksStore.Models.Notebook>

<div id="searchresults">
    <h3>All notebooks produced by : @Model.First().Manufacturer</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>