﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h2>@ViewData["Head"]</h2>
    @*<h2>@ViewBag.Head</h2>*@
</div>
</body>
</html>
