﻿@model FormValidation.Models.RegInfo
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" });

        <div class="form-group">
            @Html.DisplayNameFor(m => m.Email)
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(m => m.Password)
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(m => m.PassConfirm)
            @Html.EditorFor(m => m.PassConfirm, new { htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(m => m.PassConfirm, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(m => m.Name)
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(m => m.Surname)
            @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
        </div>

        <input type="submit" class="btn btn-primary" />
    }
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")