﻿@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="~/Content/img/manage.jpg" alt="Управление">
            <div class="card-body">
                <h4 class="card-title">Управление</h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque ut varius diam, eget euismod urna. Duis semper massa in sem suscipit,
                    a fringilla ex pretium. In finibus, orci at fringilla lacinia, augue justo vestibulum lectus,
                    eget venenatis felis augue id nisi.
                </p>
                <a class="btn btn-primary" href="~/Home/Management">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="card">
            <img class="card-img-top" src="~/Content/img/sms.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Рассылка через SMS</h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque ut varius diam, eget euismod urna. Duis semper massa in sem suscipit,
                    a fringilla ex pretium. In finibus, orci at fringilla lacinia, augue justo vestibulum lectus,
                    eget venenatis felis augue id nisi.
                </p>
                <a class="btn btn-primary" href="~/Home/Sms">Перейти</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">


        <div class="card">
            <img class="card-img-top" src="~/Content/img/email.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Рассылка через E-mail</h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque ut varius diam, eget euismod urna. Duis semper massa in sem suscipit,
                    a fringilla ex pretium. In finibus, orci at fringilla lacinia, augue justo vestibulum lectus,
                    eget venenatis felis augue id nisi.
                </p>
                <a class="btn btn-primary" href="~/Home/Email">Перейти</a>
            </div>
        </div>

    </div>
</div>
<br/>
<div class="panel-footer">
    <div class="row">
        <div class="col-md-4">
            <h4>Контакты</h4>
            <p>
                Адрес:
                <br />
                Телефон:
            </p>
        </div>
        <div class="col-md-4">
            <h4>Техническая поддержка</h4>
            <p>
                Адрес:
                <br />
                Телефон:
            </p>
        </div>
        <div class="col-md-4">
            <h4>Дополнительная информация</h4>
            <p>
                Адрес:
                <br />
                Телефон:
            </p>
        </div>
    </div>
</div>
