﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <div>
        
        @using (Html.BeginForm("Change", "Language", FormMethod.Post))
        {
            <select name="LanguageAbbr">
                <option disabled selected>Выберите язык</option>
                <option value="ru">Русский</option>
                <option value="en">English</option>
            </select>
            <input type="submit" name="submit" value="Изменить">
        }
    </div>
</ul>
