﻿@model GetPostTester.Models.User
@{
    ViewBag.Title = "Home Page";
}

<p>re a + b = @ViewBag.c</p>

@using (Html.BeginForm("ShowUserInfo", "Home", FormMethod.Post))
{
    <p>Username:</p>
    @Html.TextBoxFor(m => m.UserName)
    <br/>
    <p>LastName</p>
    @Html.TextBoxFor(m => m.LastName)
    <br>
    <input type="submit"/>
}