﻿@model TestFormProject.Models.User
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<div class="row">
    <div class="col-md-5">

        @*<form asp-action="Add" method="post">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input type="text" asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Go" class="btn btn-primary" />
            </div>
        </form>*@

        @using (Html.BeginForm("Add", "User", FormMethod.Post))
        {

            <div class="form-group">
                @Html.TextBox("UserName")
            </div>
            <div class="form-group">
                @Html.TextBox("Email")
            </div>
            <div class="form-group">
                <input type="submit" value="Go" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
