﻿@model TestFormProject.Models.User
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col">
        <p>@Model.UserName</p>
        <p>@Model.Email</p>
    </div>
</div>

