﻿
@{
    ViewBag.Title = "Gauss";
}

<h2>Gauss</h2>

@using (Ajax.BeginForm("GetInputArray", new AjaxOptions()
{
    UpdateTargetId = "result",
    LoadingElementId = "loading",
    LoadingElementDuration = 1000
}))
{
    @Html.TextBox("size")
    
    <input type="submit" />
}

<div id="loading" style="display: none; color:Red; font-weight:bold;">
    <p>Идет загрузка...</p>
</div>

<div id="result"></div>