﻿@model int
<p>size = @Model</p>

@using (Html.BeginForm("SolveGauss", "Home", FormMethod.Post))
{
    int cnt = 0;
    for (int i = 0; i < @Model; i++)
    {
        for (int j = 0; j < @Model + 1; j++)
        {
             @Html.TextBox($"elements[{cnt++}]")
         }
         <br/>
     }
    @Html.Hidden("size",Model)
    <input type="submit"/>
}