﻿@model LineAsp.Models.Equation
@{
    ViewBag.Title = "SolveEquation";
}

<h2>SolveEquation</h2>

@using (Ajax.BeginForm("GetAnswerEquation", new AjaxOptions()
{
    UpdateTargetId = "result",
    LoadingElementId = "loading",
    LoadingElementDuration = 1000
}))
{
    @Html.TextBoxFor(m => m.A)
    <span>x<sup>2</sup>+</span>
    @Html.TextBoxFor(m => m.B)
    <span>x + </span>
    @Html.TextBoxFor(m => m.C)
    <span> = 0</span>
    <input type="submit"/>
}

<div id="loading" style="display: none; color:Red; font-weight:bold;">
    <p>Идет загрузка...</p>
</div>

<div id="result"></div>