﻿@model Cars.ViewModels.CombineViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div>
    <h3>Filter List:</h3>
    @using (Html.BeginForm("Index", "Ad", FormMethod.Get))
    {

        <div class="form-group">
            @Html.LabelFor(model => model.FilterViewModel.ColorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.FilterViewModel.ColorId, Model.AdViewModel.ColorSelectList, "Choose", htmlAttributes: new { @class = "form-control" })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilterViewModel.BrandId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.FilterViewModel.BrandId, Model.AdViewModel.BrandSelectList, "Choose brand", htmlAttributes: new { @class = "form-control" })
               
            </div>
        </div>

        <div class="form-group" id="modelsDiv">

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilterViewModel.PriceFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.FilterViewModel.PriceFrom, new { htmlattributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilterViewModel.PriceTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.FilterViewModel.PriceTo, new { htmlattributes = new { @class = "form-control" } })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilterViewModel.YearFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.FilterViewModel.YearFrom, new { htmlattributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilterViewModel.YearTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.FilterViewModel.YearTo, new { htmlattributes = new { @class = "form-control" } })
               
            </div>
        </div>
        <br/>
        
        <div class="form-group">
            @Html.LabelFor(m => m.FilterViewModel.GearBoxCkBoxItems)
                <table class="table">
                    @for (int i = 0; i < Model.FilterViewModel.GearBoxCkBoxItems.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(m => m.FilterViewModel.GearBoxCkBoxItems[i].CheckBoxId)
                                @Html.DisplayFor(m => m.FilterViewModel.GearBoxCkBoxItems[i].ItemName)
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.FilterViewModel.GearBoxCkBoxItems[i].IsChecked)
                            </td>
                        </tr>

                    }
                </table>
            
        </div>
        <br/>
        <div class="form-group">
            @Html.LabelFor(m => m.FilterViewModel.FuelTypeCkBoxItems)
                <table class="table">
                    @for (int i = 0; i < Model.FilterViewModel.FuelTypeCkBoxItems.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(m => m.FilterViewModel.FuelTypeCkBoxItems[i].CheckBoxId)
                                @Html.DisplayFor(m => m.FilterViewModel.FuelTypeCkBoxItems[i].ItemName)
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.FilterViewModel.FuelTypeCkBoxItems[i].IsChecked)
                            </td>
                        </tr>

                    }
                </table>
            
        </div>
        <br/>
        <input type="submit" class="btn btn-primary" />
    }
</div>
<hr/>
<h3>List Of Items</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].Color.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].FuelType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].GearBox.BoxType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].Model.Brand.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].Model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].Vendor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].EngineVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad[0].VendorText)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Ad)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Color.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GearBox.BoxType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FilterViewModel_BrandId').change(function () {
                var id = $('#FilterViewModel_BrandId')[0].value;
                $('#modelsDiv').load('@Url.Action("GetModels", "Ad")?brandId=' + id);
            });
        });
    </script>
}