﻿@model List<WebMap.MapServiceReference.Location>
@{
    ViewBag.Title = "Home Page";
}
<canvas id="myCanvas" width="551" height="646"
        style="border:1px solid #d3d3d3;">
    Your browser does not support the HTML5 canvas tag.
</canvas>

<div>
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i == 0)
        {
            <p>(@Model[i].X;@Model[i].Y) - @Model[i].DateTime</p>
        }
        else
        {
            <p>(@Model[i].X;@Model[i].Y) - @Model[i].DateTime</p>
           
            <p>V = @(Math.Sqrt(Math.Pow(Model[i].X - Model[i-1].X,2) + Math.Pow(Model[i].Y - Model[i-1].Y,2))/(Model[i].DateTime - Model[i-1].DateTime).TotalSeconds)</p>
        }

    }
</div>


<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var img = new Image();
    img.src = "/Content/Images/map.png";
    ctx.drawImage(img, 0, 0);

    @foreach (var item in Model)
    {
        <text>ctx.lineTo(</text>@item.X<text>,</text>@item.Y<text>);</text>
    }
    ctx.stroke();

    setTimeout(function(){
        window.location.reload(1);
    }, 5000);
</script>
