﻿body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left:40px;
}
  
nav{
    display: block;
}
  
.menu {
    padding-left:10px;
}
.menu ul {
    list-style:none;
}
.menu li {
    display:inline;
}
.menu a:hover {
    color:red;
}
table {
    vertical-align:middle;
    text-align:left;  
}
.header {
    font-weight:bold;
}
td {
    padding-right:10px;
}
input {
    width: 150px;
}

/* styles for validation helpers */
/*.field-validation-error {
    color: #b94a48;
}
    input.input-validation-error {
    border: 1px solid #b94a48;
}*/
.field-validation-valid {
    display: none;
}



.field-validation-error {
    color: #6699CC;
    font-weight:bold;
    text-decoration:underline;
}
input.input-validation-error {
    border: 1px solid #006699;
    background-color: silver;
}




input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}
